<?xml version="1.0"?>
<launch>
   <!-- Determine this using rosrun spinnaker_camera_driver list_cameras.
       If not specified, defaults to first camera found. -->
  <arg name="camera_name" default="camera" />
  <arg name="force_mavros_triggering" default="true" />

  <group ns="$(arg camera_name)">
    <node name="spinnaker_camera_node" pkg="spinnaker_camera_driver" type="camera_node" clear_params="true" output="screen" >
      <param name="force_mavros_triggering" value="$(arg force_mavros_triggering)" />
    </node>
  </group>
</launch>
